@model ScavengerHunt.Web.Models.Team

@if (!ViewBag.settings.EnableTeamRegistration)
{
    <div class="alert alert-warning">
        <h4>Disabled</h4>
        New team creation is currently disabled by the administrator.
    </div>
}

@if (ViewBag.settings.EnableTeamRegistration || User.IsInRole("Admin"))
{
    using (Html.BeginForm("Create", "Team"))
    {
         @Html.AntiForgeryToken()

         <div class="form" role="form">
             @Html.ValidationSummary(true)

             <div class="mb-3">
                 @Html.LabelFor(model => model.Name, new { @class = "" })
                 @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "", @style = "max-width:300px;" })
                 @Html.ValidationMessageFor(m => m.Name)
             </div>

             <input type="submit" value="Create" class="btn btn-primary" />
         </div>
     }
}