@using Microsoft.AspNet.Identity
@using ScavengerHunt.Web.Models
@using ScavengerHunt.Web.Resources
@model Team

@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    @Html.Partial("StatusPartial")
<hr/>
}
<h2>@Resources.CurrentRankings</h2>
@if (Model == null)
{
    <div class="bg-warning">
    <h4>@Resources.NotPartOfATeam</h4>
    @Resources.NotPartOfATeamDescription
    <a style="margin-left: 20px;" class="btn btn-primary" href="/Team/Start">@Resources.CreateOrJoinTeam &raquo;</a>
</div>
<br>
}
@Html.Action("IndexPartial", "Team")