@using Microsoft.AspNet.Identity
@using ScavengerHunt.Web.Models
@model Team

@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    <h2>@Model.Name</h2>
    <div class="row">
        <div class="col-md-4">
            <b>Members</b><br/>
            @foreach (var member in Model.Members)
            {
                @member.UserName<br/>
            }
        </div>
        <div class="col-md-8">
            <p>Your @Model.Members.Count members have amassed a total of @Model.Score points in @Model.StuntCount stunts.</p>
        </div>
    </div>
<hr/>
}
<h2>Team Rankings</h2>
@if (Model == null)
{
    <div class="bg-warning">
    <h4>You are not part of a team yet!</h4>
    What are you waiting for? Join the fun!
    <a style="margin-left: 20px;" class="btn btn-primary" href="/Team/Start">Create or Join a team! &raquo;</a>
</div>
<br>
}
@Html.Action("IndexPartial", "Team")