@model IEnumerable<ScavengerHunt.Web.Models.Team>

@if (ViewBag.settings.GuestTeamsVisible || User.Identity.IsAuthenticated)
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuntCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
        </tr>

        @foreach (var item in Model.OrderByDescending(x => x.Score))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item, "TeamName")
                </td>
                <td>@Html.DisplayFor(modelItem => item.Score)</td>
                <td>@Html.DisplayFor(modelItem => item.StuntCount)</td>
                <td>@Html.DisplayFor(modelItem => item.Members.Count)</td>
            </tr>
        }
    </table>
}