@using ScavengerHunt.Web.Models
@model IEnumerable<ScavengerHunt.Web.Models.Team>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StuntCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members)
        </th>
    </tr>

    @foreach (var item in Model.OrderByDescending(x => x.Score))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Score)</td>
            <td>@Html.DisplayFor(modelItem => item.StuntCount)</td>
            <td>@Html.DisplayFor(modelItem => item.Members.Count)</td>
        </tr>
    }
</table>
