@model ScavengerHunt.Web.Models.Team

@if (!ViewBag.settings.EnableTeamJoining)
{
    <div class="alert alert-warning">
        <h4>Disabled</h4>
        Team joining is currently disabled by the administrator.
    </div>
}

@if (ViewBag.settings.EnableTeamJoining || User.IsInRole("Admin"))
{
    using (Html.BeginForm("Join", "Team"))
     {
         @Html.AntiForgeryToken()

         <div class="form" role="form">
             @Html.ValidationSummary(true)

             <div class="mb-3">
                 @Html.LabelFor(model => model.Token)
                 @Html.TextBoxFor(model => model.Token, new { @class = "form-control", @style = "max-width: 320px;" })
                 @Html.ValidationMessageFor(model => model.Token)
             </div>

             <input type="submit" value="Join" class="btn btn-primary" />
         </div>
     }
}