@model ScavengerHunt.Web.Models.TeamStunt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stunt</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Stunt.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stunt.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stunt.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stunt.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stunt.MaxScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stunt.MaxScore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stunt.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stunt.Type)
            </dd>

        </dl>
        

        <h4>TeamStunt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DateUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DateUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Submission, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Submission)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotesTeam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NotesTeam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Score, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score)
                @Html.ValidationMessageFor(model => model.Score)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotesJudges, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NotesJudges, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NotesJudges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
