@using System.Web.Mvc.Html;
@model ScavengerHunt.Web.Models.TeamStunt

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Stunt.Title</h2>
@Model.Stunt.Description

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { @style = "max-width: 320px;" })
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotesTeam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NotesTeam, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NotesTeam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Submission, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Submission, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Submission)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
