@using System.Web.Mvc.Html;
@using ScavengerHunt.Web.Models
@model TeamStunt

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Stunt.Title</h2>
@Html.Markdown(Model.Stunt.Description)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Status, new { @style = "max-width: 320px;" })
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.TeamNotes, new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.TeamNotes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TeamNotes)
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Submission, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Submission, new { @class = "form-control" })
            <div class="text-muted">
                <span class="icon-info"></span>The judges are expecting a @Html.DisplayFor(model => model.Stunt.Type)
                @switch (Model.Stunt.Type)
                {
                    case StuntTypeEnum.Picture:
                        <span>May we recommend <a href="https://imgur.com/">imgur</a>?</span>
                        break;
                    case StuntTypeEnum.Video:
                        <span>May we recommend <a href="https://youtube.com/">Youtube</a>?</span>
                        break;
                    case StuntTypeEnum.Live:
                        <span>Go see them!</span>
                        break;
                    case StuntTypeEnum.File:
                        <span>May we recommend <a href="https://www.dropbox.com/">Dropbox</a>?</span>
                        break;
                    case StuntTypeEnum.Flag:
                        <span>It will be automatically corrected upon submission.</span>
                        break;
                }
            </div>
            @Html.ValidationMessageFor(model => model.Submission)
        </div>

        <div class="mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

}
