@using ScavengerHunt.Web.Models
@using ScavengerHunt.Web.Resources
@model IEnumerable<ScavengerHunt.Web.Models.TeamStunt>

@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Stunts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stunt.Keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stunt.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stunt.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamNotes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Status != TeamStuntStatusEnum.Done))
    {
        <tr>
            <td>
                <kbd>@Html.DisplayFor(modelItem => item.Stunt.Keyword)</kbd>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stunt.Title)<br/><span class="text-muted">
                @Html.DisplayFor(modelItem => item.Stunt.Description)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stunt.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score) / @Html.DisplayFor(modelItem => item.Stunt.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNotes, "Notes")
            </td>
            <td>
                @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@if (Model.Any(x => x.Done))
{
    <h2>@Resources.Done</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stunt.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stunt.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudgeFeedback)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Where(x => x.Done))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stunt.Title)<br /><span class="text-muted">
                                                                             @Html.DisplayFor(modelItem => item.Stunt.Description)
                                                                         </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stunt.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score) / @Html.DisplayFor(modelItem => item.Stunt.MaxScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamNotes, "Notes")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JudgeFeedback, "Notes")
                </td>
                <td>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script type="text/javascript">       
        $("[data-toggle=tooltip").tooltip();
    </script>
}