@model ScavengerHunt.Web.Models.StuntTranslation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Translation for stunt <kbd>@Model.Stunt.Keyword</kbd></h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(model => model.Language, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Language, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height: 200px" })
            <span class="text-muted"><span class="icon-info"></span> Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>.</span>
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="mb-3">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}