@using ScavengerHunt.Web.Models
@model ScavengerHunt.Web.Models.Stunt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stunt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Keyword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Keyword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxScore)
                @Html.ValidationMessageFor(model => model.MaxScore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Published, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.JudgeNotes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JudgeNotes, new { @class = "form-control" })
                <span class="text-muted"><span class="glyphicon glyphicon-info-sign"></span> Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>. Please use sparingly.</span>
                @Html.ValidationMessageFor(model => model.JudgeNotes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<h4>Translations</h4>
@Html.Action("IndexPartial", "StuntTranslation", new { id = Model.Id })


<div>
    @Html.ActionLink("Back to List", "IndexAdmin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
