@model IEnumerable<ScavengerHunt.Web.Models.Stunt>

@{
    ViewBag.Title = "Stunt List";
}

<h2>@ViewBag.Title</h2>

<div class="bg-warning">
    <h4>You are not part of a team yet!</h4>
    What are you waiting for? Join the fun!
    <a style="margin-left: 20px;" class="btn btn-primary" href="/Team/Start">Create or Join a team! &raquo;</a>
</div>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }

</table>
