@using Microsoft.Ajax.Utilities
@model ScavengerHunt.Web.Models.Stunt

@if (!Model.Collapsible)
{
    if (ViewBag.settings.ShowTitle)
    {
        @Html.DisplayFor(modelItem => Model.Title)
    }
    <br />
    <span class="text-muted" style="font-size: smaller">@Html.Markdown(Model.Description)</span>
}
else
{
    var panelId = string.Format("desc-panel-{0}", Model.Id);
    
    <a data-toggle="collapse" data-parent="#accordion" href="#@panelId">
        @if (ViewBag.settings.ShowTitle)
        {
            @Html.DisplayFor(modelItem => Model.Title)
        }
        <span class="glyphicon glyphicon-collapse-down"></span>
    </a>
    <div id="@panelId" class="panel-collapse collapse">
      <div class="panel-body">
          @Html.Markdown(Model.Description)
      </div>
    </div>
}