@model ScavengerHunt.Web.Models.Stunt

@{
    var panelId = string.Format("desc-panel-{0}", Model.Id);
}

@if (Model.Collapsible && ViewBag.CollapsePanelId != null)
{
    <span class="glyphicon glyphicon-chevron-down"></span>
    if (ViewBag.settings.ShowTitle)
    {
        @Html.DisplayFor(modelItem => Model.Title)
        
    }
    <div id="@ViewBag.CollapsePanelId" class="panel-collapse collapse">
        <div class="panel-body">
            @Html.Markdown(Model.Description)
        </div>
    </div>
}
else
{
    if (ViewBag.settings.ShowTitle)
    {
        @Html.DisplayFor(modelItem => Model.Title)
    }
    <br />
    <span class="text-muted" style="font-size: smaller">@Html.Markdown(Model.Description)</span>
}