@model ScavengerHunt.Web.Models.Stunt

@if (Model.Collapsible || ViewBag.ForceCollapse == true)
{
    var panelId = string.Format("desc-panel-{0}{1}", Model.Id, Guid.NewGuid().ToString().Substring(0,6));
    <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#@panelId"></span>
    if (ViewBag.settings.ShowTitle)
    {
        @Html.DisplayFor(modelItem => Model.Title)
    }
    <div id="@panelId" class="panel-collapse collapse">
        <div class="panel-body">
            @Html.Markdown(Model.Description)
        </div>
    </div>
}
else
{
    if (ViewBag.settings.ShowTitle)
    {
        @Html.DisplayFor(modelItem => Model.Title)
    }
    <br />
    <span class="text-muted" style="font-size: smaller">@Html.Markdown(Model.Description)</span>
}