<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.ScavengerHunt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>-
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LAN ETS","Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">    
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Teams, "Index", "Team")</li>
                    <li>@Html.ActionLink(Resources.Stunts, "Index", "TeamStunt")</li>
                    
                    @if (User.IsInRole("Judge") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Judge", "Index", "Judge")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Stunts", "IndexAdmin", "Stunt")</li>
                                <li>@Html.ActionLink("Teams", "IndexAdmin", "Team")</li>
                                <li>@Html.ActionLink("Users", "Index", "Account")</li>
                                <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <div style="float: left; padding-right: 20px;">
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>
            <div style="font-size: x-small" class="text-muted">
                This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/scarpentier/ScavengerHunt" rel="dct:source">https://github.com/scarpentier/ScavengerHunt</a>.
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function changeCulture() {
           var language = document.cookie;
            console.log(language);

            if (language.includes("en")) {
                document.cookie = "culture=fr";
            }
            else if (language.includes("fr")) {
                document.cookie = "culture=en";
            }
            else {
                document.cookie = "culture=en";
            }

            location.reload();
         }
    </script>
</body>
</html>
