<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Serious Scavenger Hunt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-lg">
            @Html.ActionLink(@Resources.ScavengerHunt, "Index", "Home", null, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Teams", "Index", "Team", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Stunts", "Index", "TeamStunt", null, new { @class = "nav-link" })
                    </li>
                    @if (User.IsInRole("Judge") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Judge", "Index", "Judge", null, new { @class = "nav-link" })
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Stunts", "IndexAdmin", "Stunt", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Teams", "IndexAdmin", "Team", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Users", "Index", "Account", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Settings", "Index", "Settings", null, new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>

                    }
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="font-size: x-small" class="text-muted">
                Powered by <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/scarpentier/ScavengerHunt" rel="dct:source">Serious Scavenger Hunt</a>.
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
