@model IEnumerable<ScavengerHunt.Web.Models.Setting>

@{
    ViewBag.Title = "Settings";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <kbd>@Html.DisplayFor(modelItem => item.Key)</kbd>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key })
        </td>
    </tr>
}

</table>
