@model IEnumerable<ScavengerHunt.Web.Models.EditUserViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
                @Html.ActionLink("Roles", "UserRoles", new { id = item.UserName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
            </td>
        </tr>
    }

</table>