@model ScavengerHunt.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="mb-3 col-md-6">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    }
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
