@model ScavengerHunt.Web.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "User Roles";
}

<h2>Roles for user @Html.DisplayFor(model => model.UserName)</h2>
<hr />

@using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>

        <table>
            <tr>
                <td style="width: 40px;"></td>
                <td></td>
            </tr>
            @Html.EditorFor(model => model.Roles)
        </table>
        <br />
        <hr />
        <input type="submit" value="Save" class="btn btn-success" /> | @Html.ActionLink("Back to List", "Index")

    </div>
}